<% include ./styling/header %>

<div class="container">
    <div class="row">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img class="d-block w-100" src="<%= noMatch.image %>">
            <br>

            <% if(currentUser){ %>
                <% if(!alreadyBookmarked){ %>
                    <form action="/bookmarkedapi" method="POST">
                        <button class="btn btn-danger ">
                            <i class="fa fa-bookmark"></i> Add
                        </button>
                        <input type="text" hidden name="title" value="<%= noMatch.title %>">
                        <input type="text" hidden name="source_url" value="<%= noMatch.sourceUrl %>">
                        <input type="text" hidden name="publisher_url" value="<%= noMatch.spoonacularSourceUrl %>">
                        <input type="text" hidden name="recipe_id" value="<%= noMatch.id %>">
                        <input type="text" hidden name="image_url" value="<%= noMatch.image %>">
                        <input type="text" hidden name="publisher" value="<%= noMatch.sourceName %>">
                    </form>
                <% } else if(alreadyBookmarked){ %>
                    <form action="/removebookmarkedapi" method="POST">
                        <button class="btn btn-danger ">
                            <i class="fa fa-bookmark"></i> Remove
                        </button>
                        <input type="text" hidden name="title" value="<%= noMatch.title %>">
                        <input type="text" hidden name="source_url" value="<%= noMatch.sourceUrl %>">
                        <input type="text" hidden name="publisher_url" value="<%= noMatch.spoonacularSourceUrl %>">
                        <input type="text" hidden name="recipe_id" value="<%= noMatch.id %>">
                        <input type="text" hidden name="image_url" value="<%= noMatch.image %>">
                        <input type="text" hidden name="publisher" value="<%= noMatch.sourceName %>">
                    </form>
            <% }}    else { %>
                <form action="/bookmarkedapi" method="POST">
                    <button class="btn btn-danger ">
                        <i class="fa fa-bookmark"></i> Add
                    </button>
                    <input type="text" hidden name="title" value="<%= noMatch.title %>">
                    <input type="text" hidden name="source_url" value="<%= noMatch.sourceUrl %>">
                    <input type="text" hidden name="publisher_url" value="<%= noMatch.spoonacularSourceUrl %>">
                    <input type="text" hidden name="recipe_id" value="<%= noMatch.id %>">
                    <input type="text" hidden name="image_url" value="<%= noMatch.image %>">
                    <input type="text" hidden name="publisher" value="<%= noMatch.sourceName %>">
                </form>
            <% } %>

            <br>
            <h5>Recipe Bookmarked by:-</h5>
            <ul>
                <% users.forEach(function(user){ %>
                    <li>
                        <h4>
                            <a href="/profile/<%= user._id %>"><%= user.username %></a>

                        </h4>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="col-10 mx-auto col-md-6 my-3">

            <h2><%= noMatch.title %></h2>
            <br>
            <h3 class="text-warning text-styling">Submitted by :

                <%= noMatch.sourceName %>

            </h3>
            <br>
            <h4><u>Instructions</u>:</h4>
            <%= noMatch.instructions %>
            <br>
            <a class="btn btn-primary" target="_blank" href=" <%= noMatch.sourceUrl %>"> View Source </a>


        </div>
    </div>
</div>
</body>
</html>