<% include ./styling/header %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= noMatch.image_url %>">
                <div class="caption-full">
                    <form action="/bookmarkedapi" method="POST">
                        <h4><a><%= noMatch.title %></a></h4>
                        <a><%= noMatch.source_url %></a>
                        <p>
                            <em>Submitted by : <%= noMatch.publisher_url %></em>
                        </p>
                        <button class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-bookmark"></span> Bookmark
                        </button>
                        <input type="text" hidden name="title" value="<%= noMatch.title %>">
                        <input type="text" hidden name="source_url" value="<%= noMatch.source_url %>">
                        <input type="text" hidden name="publisher_url" value="<%= noMatch.publisher_url %>">
                        <input type="text" hidden name="recipe_id" value="<%= noMatch.recipe_id %>">
                        <input type="text" hidden name="image_url" value="<%= noMatch.image_url %>">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./styling/footer %>
