<% include ./styling/header %>
<h1 class="text-center"><%= foundUser.firstName %> <%= foundUser.lastName %> </h1>

<div class="container">
    <div class="row">
            <div id="accountdetails" class="col-md-12">
                    <h4><u>ACCOUNT DETAILS</u>:</h4>
                    <h5 class=""> First Name : <span id=""><%= foundUser.firstName %></span> | 
                                Last Name : <span id=""><%= foundUser.lastName %></span> | 
                   Username : <span id=""><%= foundUser.username %></span>
                </h5>
                </div>
            
        <div class="col-md-12">
                <h4><u>Recipes added by <%= foundUser.firstName %></u>:</h4>
            <div class="row">
                <% userRecipes.forEach(function(recipe){ %>
                    <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                        <div class="card">
                            <img src="<%= recipe.image %>" class="img-card-top" style="height:14rem;width:100%"
                                 alt="recipe"/>
                            <div class="card-body">
                                <h5 class="card-title"><%= recipe.name %></h5>
                                <h6><a href="/profile/<%= recipe.author.id %>"><%= recipe.author.username %> </a>
                                </h6>
                            </div>
                            <div class="card-footer">
                                <a href="/recipes/<%= recipe._id %>" class="btn btn-info  btn-sm">View Recipe </a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
            <div class="col-md-12">
            <h4><u>Recipes <%= foundUser.firstName %> bookmarked(prepared by local chefs)</u>:</h4>
            <div class="row">
                <% bookmarkedRecipesforSending.forEach(function(recipe){ %>
                    <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                        <div class="card">
                            <img src="<%= recipe.image %>" class="img-card-top" style="height:14rem;width:100%"
                                 alt="recipe"/>
                            <div class="card-body">
                                <h5 class="card-title"><%= recipe.name %></h5>
                                <%   if(currentUser){ %>
                                    <%    if(currentUser.username == recipe.author.username){ %>
                                            <h6><a href="/profile"><%= recipe.author.username %> </a>
                                            </h6>    
                                  <%      } else { %>
                                    <h6><a href="/profile/<%= recipe.author.id %>"><%= recipe.author.username %> </a>
                                    </h6>
                               <%   }} else {   %>
                                <h6><a href="/profile/<%= recipe.author.id %>"><%= recipe.author.username %> </a>
                                </h6>
                                 <%   }    %>
                            </div>
                            <div class="card-footer">
                                <a href="/recipes/<%= recipe._id %>" class="btn btn-info  btn-sm">View Recipe </a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    
   
        <div class="col-md-12"> 
        <h4><u>Recipes <%= foundUser.firstName %> bookmarked(prepared by chefs around the globe)</u>:</h4>
        <div class="row">
            <% bookmarkedRecipesapiarray.forEach(function(recipe){ %>
                <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                        <div class="card">
                            <img src="<%= recipe.image_url %>" class="img-card-top" style="height:14rem;width:100%"
                                 alt="recipe"/>


                            <div class="card-body">
                                <h5 class="card-title"><%= recipe.title %></h5>
                                <h6>Published By: <%= recipe.publisher %> </h6>
                            </div>
                            <div class="card-footer">

                                <label for="recipe_id"></label>
                                <form action="/details" method="GET">

                                    <button class="btn btn-info">View Recipe</button>

                                    <input type="hidden" name="recipe_id" value="<%= recipe.recipe_id %>">
                                </form>

                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
</body>

</html>