<% include ./styling/header %>

<h1 id="userGreeting"> Hi, <%= currentUser.firstName %> <%= currentUser.lastName %> </h1>

<div class="container">
    <div class="row">
        <div id="accountdetails" class="col-md-3">
            <p class="lead">Your account details :</p>
            <h4 class="userprofile"> First Name : <span id="userdetails"><%= currentUser.firstName %></span></h4>
            <h4 class="userprofile"> Last Name : <span id="userdetails"><%= currentUser.lastName %></span></h4>
            <h4 class="userprofile"> Email : <span id="userdetails"><%= currentUser.email %></span></h4>
            <h4 class="userprofile"> Username : <span id="userdetails"><%= currentUser.username %></span></h4>
            <a href="/profile/<%= currentUser.id %>/edit" class="btn btn-success btn-block">Edit Profile</a>
        </div>

        <div class="col-md-9">
            <% if(currentUser.type == "chef"){ %>
                <p class="lead">Recipes you've added so far:</p>
                <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                    <% recipes.forEach(function(recipe){ %>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail">
                                <a href="/recipes/<%= recipe._id %>"><img class="gridhome" src="<%= recipe.image %>">
                                    <div class="profilethumbnail" class="caption">
                                        <h4 class="profilethumbnail"> <%= recipe.name %> </h4>
                                       
                                        <div class="form-group">
                                            <a href="/recipes/<%= recipe._id %>/edit">
                                                <button class="btn btn-warning ">Edit</button>
                                            </a>
                                            <form class="delete-form" action="/recipes/<%= recipe._id %>?_method=DELETE"
                                                  method="POST">
                                                <button class="btn btn-danger ">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } %>
        </div>

        <div>
            <p class="lead">Recipes added by others:</p>
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <% allRecipe.forEach(function(recipe){ %>
                    <% if (recipe.author.username != currentUser.username){ %>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail">
                                <a href="/recipes/<%= recipe._id %>"><img class="gridhome" src="<%= recipe.image %>">
                                    <div class="profilethumbnail" class="caption">
                                        <h4 class="profilethumbnail"> <%= recipe.name %> </h4>
                                       
                                        <h3 class="profilethumbnail">Added By: <%= recipe.author.username %></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                <% } }); %>
            </div>
        </div>
        <div>
        <p class="lead">Bookmarked Recipes by our Chefs</p>
                <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                    <% bookmarkedRecipesforSending.forEach(function(recipe){ %>
                            <div class="col-md-3 col-sm-6">
                                <div class="thumbnail">
                                    <a href="/recipes/<%= recipe._id %>"><img class="gridhome" src="<%= recipe.image %>">
                                        <div class="profilethumbnail" class="caption">
                                            <h4 class="profilethumbnail"> <%= recipe.name %> </h4>
                                           
                                            <h3 class="profilethumbnail">Added By: <%= recipe.author.username %></h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                    <%  }); %>
                </div>
            </div>


            <div>
                    <p class="lead">Bookmarked Recipes by people around the world</p>
                            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                                <% bookmarkedRecipesapiarray.forEach(function(recipe){ %>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="thumbnail">
                                                <img class="gridhome" src="<%= recipe.image_url %>">
                                                    <div class="profilethumbnail" class="caption">
                                                        <h4 class="profilethumbnail"> <%= recipe.title %> </h4>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                <%  }); %>
                            </div>
                        </div>
    </div>
</div>


<% include ./styling/footer %>