<% include ../styling/header %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= recipe.image %>">
                <div class="caption-full">

                    <form action="/bookmarked" method="POST">
                        <h4><a><%= recipe.name %></a></h4>
                        <p><%= recipe.description %></p>
                        <p>
                            <em>Submitted by : <%= recipe.author.username %></em>
                        </p>
                        <% if(currentUser){ %>
                            <% if(currentUser.username != recipe.author.username){ %>
                        <button class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-bookmark"></span> Bookmark
                        </button>
                        <% }} %>
                        <input type="text" hidden name="idofrecipe" value="<%= recipe._id %>">
                    </form>
                </div>
            </div>
            <h3>Recipe Bookmarked by:-</h3>
            <ul>
                    <% recipe.bookmarkedBy.forEach(function(user){ %>
                        <li><h4>
            <a href="/profile/<%= user._id %>"><%= user.username %></a>            
                        
                        </h4></li>
                        <% }); %>
            </ul>
        </div>
    </div>
</div>

<% include ../styling/footer %>
