<% include ../styling/header %>

<div class="container">

    <div class="row">

        <div class="col-10 mx-auto col-md-6 my-3">
            <img class="d-block w-100" src="<%= recipe.image %>">
            <br>
                <% if(currentUser){ %>
                <% if(currentUser.username != recipe.author.username){ %>
                    <form action="/bookmarked" method="POST">
                <button class="btn btn-danger ">
                    Bookmark
                </button>
                <input type="text" hidden name="idofrecipe" value="<%= recipe._id %>">
            </form>
                <% }   else{ %>
                    <a href="/recipes/<%= recipe._id %>/edit">
                        <button class="btn btn-warning  btn-sm ">Edit</button>
                    </a>
                    <form class="delete-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
              <%  }} %>
                
            
        </div>
        <div class="col-10 mx-auto col-md-6 my-3">

            <h2><%= recipe.name %></h2>

            <h3 className="text-warning text-styling">Submitted by :
                <a href="/profile/<%= recipe.author.id %>">
                    <%= recipe.author.username %>
                </a>
            </h3>
            <br>
            <h3><u>Description</u></h3>
            <p><%= recipe.description %></p>
            <h5>Recipe Bookmarked by:-</h5>
            <ul>
                <% recipe.bookmarkedBy.forEach(function(user){ %>
                <li>
                    <h4>
                        <a href="/profile/<%= user._id %>"><%= user.username %></a>

                    </h4>
                </li>
                <% }); %>
            </ul>
        </div>


    </div>
</div>
</body>

</html>